[data-brand='wireframe'] {
  --border-width-default: 1px;
  --letter-spacing-body: 0em;
  --letter-spacing-heading: -0.02em;
  --line-height-body: 1.3;
  --line-height-heading: 1.2;
  --background-image: "https://i.ibb.co/Fz38HbS/placeholderbg.jpg";
  --brand: Inter;
  --shadow-2: 0 6px 16px 0 #040C1729;
  --shadow-1: 0 4px 10px 0 #040C170F;
  --padding-button-sm: 12px 16px;
  --padding-button-lg: 14px 24px;
  --color-neutral-1000: #101010;
  --color-neutral-900: #3b3b3b;
  --color-neutral-800: #515151;
  --color-neutral-700: #666666;
  --color-neutral-600: #929292;
  --color-neutral-500: #bdbdbd;
  --color-neutral-400: #d3d3d3;
  --color-neutral-300: #e3e3e3;
  --color-neutral-200: #f1f1f1;
  --color-neutral-100: #f9f9f9;
  --color-neutral-0: #ffffff;
  --color-orange-1000: #2e1702;
  --color-orange-900: #4d2703;
  --color-orange-800: #743a05;
  --color-orange-700: #9b4d06;
  --color-orange-600: #c16108;
  --color-orange-500: #e87409;
  --color-orange-400: #ec8b32;
  --color-orange-300: #f0a25b;
  --color-orange-200: #f3b984;
  --color-orange-100: #f7d1ad;
  --color-orange-50: #fae3ce;
  --color-blue-1000: #001433;
  --color-blue-900: #002255;
  --color-blue-800: #003380;
  --color-blue-700: #0044aa;
  --color-blue-600: #0055d4;
  --color-blue-500: #0066ff;
  --color-blue-400: #2b80ff;
  --color-blue-300: #5599ff;
  --color-blue-200: #80b2ff;
  --color-blue-100: #aaccff;
  --color-blue-50: #cce0ff;
  --color-red-1000: #230000;
  --color-red-900: #3a0000;
  --color-red-800: #570000;
  --color-red-700: #740000;
  --color-red-600: #910000;
  --color-red-500: #ae0000;
  --color-red-400: #bb2b2b;
  --color-red-300: #c95555;
  --color-red-200: #d68080;
  --color-red-100: #e4aaaa;
  --color-red-50: #efcccc;
  --color-green-1000: #00230c;
  --color-green-900: #003a14;
  --color-green-800: #00571e;
  --color-green-700: #007427;
  --color-green-600: #009131;
  --color-green-500: #00ae3b;
  --color-green-400: #2bbb5c;
  --color-green-300: #55c97c;
  --color-green-200: #80d69d;
  --color-green-100: #aae4be;
  --color-green-50: #ccefd8;
  --type-cta-tertiary-sm: var(--emphasis-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-tertiary-lg: var(--emphasis-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --type-cta-primary-sm: var(--default-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-primary-lg: var(--default-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --default-body: var(--regular);
  --default-heading: var(--regular);
  --emphasis-body: var(--bold);
  --emphasis-heading: var(--bold);
  --border-button: var(--border-8);
  --border-lg: var(--border-8);
  --border-md: var(--border-4);
  --border-sm: var(--border-2);
}
