[data-brand='stonex'][data-theme='light'] {
  --screen-margin: 96px;
  --screen-height: 960px;
  --screen-width: 1440px;
  --size-body-lg: 18px;
  --size-body-md: 16px;
  --size-body-sm: 14px;
  --size-body-xs: 12px;
  --size-288: 288px;
  --size-256: 256px;
  --size-224: 224px;
  --size-192: 192px;
  --size-160: 160px;
  --size-128: 128px;
  --size-96: 96px;
  --size-80: 80px;
  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-36: 36px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-12: 12px;
  --size-8: 8px;
  --size-6: 6px;
  --size-4: 4px;
  --size-2: 2px;
  --font-size-68: 68px;
  --font-size-64: 64px;
  --font-size-60: 60px;
  --font-size-56: 56px;
  --font-size-52: 52px;
  --font-size-48: 48px;
  --font-size-44: 44px;
  --font-size-40: 40px;
  --font-size-38: 38px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-30: 30px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;
  --opacity-100: 1;
  --opacity-90: 0.9;
  --opacity-80: 0.8;
  --opacity-70: 0.7;
  --opacity-60: 0.6;
  --opacity-50: 0.5;
  --opacity-40: 0.4;
  --opacity-30: 0.3;
  --opacity-20: 0.2;
  --opacity-10: 0.1;
  --opacity-0: 0;
  --stroke-2: 2px;
  --stroke-1: 1px;
  --spacing-288: 288px;
  --spacing-256: 256px;
  --spacing-224: 224px;
  --spacing-192: 192px;
  --spacing-160: 160px;
  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-80: 80px;
  --spacing-64: 64px;
  --spacing-56: 56px;
  --spacing-48: 48px;
  --spacing-40: 40px;
  --spacing-32: 32px;
  --spacing-28: 28px;
  --spacing-24: 24px;
  --spacing-20: 20px;
  --spacing-16: 16px;
  --spacing-14: 14px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-2: 2px;
  --border-width-default: 1px;
  --letter-spacing-body: 0.01em;
  --letter-spacing-heading: 0em;
  --line-height-body: 1.3;
  --line-height-heading: 1.2;
  --border-rounded: 999px;
  --border-20: 20px;
  --border-18: 18px;
  --border-16: 16px;
  --border-14: 14px;
  --border-12: 12px;
  --border-10: 10px;
  --border-8: 8px;
  --border-6: 6px;
  --border-4: 4px;
  --border-2: 2px;
  --border-0: 0;
  --brand: 'StoneX Forma';
  --functional-blue-1000: #051334;
  --functional-blue-900: #081c4e;
  --functional-blue-800: #0a2567;
  --functional-blue-700: #0d2f81;
  --functional-blue-600: #0f389b;
  --functional-blue-500: #3759ac;
  --functional-blue-400: #5f7abc;
  --functional-blue-300: #879bcd;
  --functional-blue-200: #afbdde;
  --functional-blue-100: #cfd7eb;
  --functional-magenta-500: #aa3377;
  --functional-green-1000: #022e01;
  --functional-green-900: #033a02;
  --functional-green-800: #014c0c;
  --functional-green-700: #056103;
  --functional-green-600: #067303;
  --functional-green-500: #078a04;
  --functional-green-400: #38a236;
  --functional-green-300: #6ab968;
  --functional-green-200: #9cd09b;
  --functional-green-100: #cde8cd;
  --functional-orange-1000: #48220d;
  --functional-orange-900: #693511;
  --functional-orange-800: #8b4f16;
  --functional-orange-700: #ad6b1c;
  --functional-orange-600: #ca821c;
  --functional-orange-500: #f29e1a;
  --functional-orange-400: #f5b148;
  --functional-orange-300: #f7c576;
  --functional-orange-200: #fad8a3;
  --functional-orange-100: #fcecd1;
  --functional-red-1000: #480000;
  --functional-red-900: #5a0000;
  --functional-red-800: #760000;
  --functional-red-700: #9d0000;
  --functional-red-600: #c40000;
  --functional-red-500: #eb0000;
  --functional-red-400: #f14444;
  --functional-red-300: #f36666;
  --functional-red-200: #f79999;
  --functional-red-100: #fbcccc;
  --light-theme-container-fill: linear-gradient(135deg, #FFFFFF 0%, #F9FBFF 100%);
  --light-theme-container-stroke: linear-gradient(135deg, #040c171a 0%, #040c1726 100%);
  --dark-theme-asset-fill: linear-gradient(90deg, #5c7495 0%, #b3c0d3 100%);
  --dark-theme-container-fill: linear-gradient(135deg, #121F3080 0%, #0D1C3080 100%);
  --dark-theme-container-stroke: linear-gradient(135deg, #ffffff59 0%, #ffffff26 100%);
  --tints-saturated-1000: #0d1c30;
  --tints-saturated-900: #1a2e49;
  --tints-saturated-800: #2b4362;
  --tints-saturated-700: #425a7c;
  --tints-saturated-600: #5c7495;
  --tints-saturated-500: #7b90ae;
  --tints-saturated-400: #9fb0c7;
  --tints-saturated-300: #b3c0d3;
  --tints-saturated-200: #c9d2df;
  --tints-saturated-100: #dfe6ef;
  --tints-saturated-50: #f3f8fe;
  --tints-mid-1000: #121f30;
  --tints-mid-900: #283649;
  --tints-mid-800: #445162;
  --tints-mid-700: #616c7c;
  --tints-mid-600: #7f8895;
  --tints-mid-500: #9ca4ae;
  --tints-mid-400: #b9bfc7;
  --tints-mid-300: #c8cdd3;
  --tints-mid-200: #d8dbdf;
  --tints-mid-100: #e7e9eb;
  --tints-mid-50: #f7f7f7;
  --tints-unsaturated-1000: #202730;
  --tints-unsaturated-900: #3b414a;
  --tints-unsaturated-800: #4f555d;
  --tints-unsaturated-700: #72777d;
  --tints-unsaturated-600: #8e9196;
  --tints-unsaturated-500: #a9acb0;
  --tints-unsaturated-400: #c5c7c9;
  --tints-unsaturated-300: #d0d1d3;
  --tints-unsaturated-200: #e3e3e5;
  --tints-unsaturated-100: #ebebed;
  --tints-unsaturated-50: #f7f7f7;
  --green-dark: #014c0c;
  --green-light: #078a04;
  --green-gradient: linear-gradient(90deg, #078a04 0%, #014c0c 100%);
  --base-dark: #040c17;
  --base-white: #ffffff;
  --blue-dark: #0d1775;
  --blue-light: #1383f4;
  --blue-gradient: linear-gradient(270deg, #0d1775 0%, #1383f4 100%);
  --blue-mid: #0F389B;
  --background-image: "https://i.ibb.co/LhMS1j0/stonex-hero-light-2.jpg";
  --shadow-2: 0 6px 16px 0 #040C1729;
  --shadow-1: 0 4px 10px 0 #040C170F;
  --gap-xxxxl: var(--spacing-128);
  --gap-xxxl: var(--spacing-96);
  --gap-xxl: var(--spacing-80);
  --gap-xl: var(--spacing-64);
  --gap-lg: var(--spacing-48);
  --gap-md: var(--spacing-32);
  --gap-sm: var(--spacing-24);
  --gap-xs: var(--spacing-16);
  --gap-xxs: var(--spacing-12);
  --gap-xxxs: var(--spacing-8);
  --gap-xxxxs: var(--spacing-4);
  --gap-xxxxxs: var(--spacing-2);
  --screen-content: var(--screen-width) - (var(--screen-margin) *2);
  --body-xl-emphasis: var(--emphasis-body) var(--font-size-20)/var(--line-height-body) var(--brand);
  --body-xl-default: var(--default-body) var(--font-size-20)/var(--line-height-body) var(--brand);
  --body-lg-emphasis: var(--emphasis-body) var(--size-body-lg)/var(--line-height-body) var(--brand);
  --body-lg-default: var(--default-body) var(--size-body-lg)/var(--line-height-body) var(--brand);
  --body-md-emphasis: var(--emphasis-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --body-md-default: var(--default-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --body-sm-emphasis: var(--emphasis-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --body-sm-default: var(--default-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --body-xs-emphasis: var(--emphasis-body) var(--size-body-xs)/var(--line-height-body) var(--brand);
  --body-xs-default: var(--default-body) var(--size-body-xs)/var(--line-height-body) var(--brand);
  --heading-5-emphasis: var(--emphasis-heading) var(--size-heading-5)/var(--line-height-heading) var(--brand);
  --heading-5-default: var(--default-heading) var(--size-heading-5)/var(--line-height-heading) var(--brand);
  --heading-4-emphasis: var(--emphasis-heading) var(--size-heading-4)/var(--line-height-heading) var(--brand);
  --heading-4-default: var(--default-heading) var(--size-heading-4)/var(--line-height-heading) var(--brand);
  --heading-3-emphasis: var(--emphasis-heading) var(--size-heading-3)/var(--line-height-heading) var(--brand);
  --heading-3-default: var(--default-heading) var(--size-heading-3)/var(--line-height-heading) var(--brand);
  --heading-2-emphasis: var(--emphasis-heading) var(--size-heading-2)/var(--line-height-heading) var(--brand);
  --heading-2-default: var(--default-heading) var(--size-heading-2)/var(--line-height-heading) var(--brand);
  --heading-1-emphasis: var(--emphasis-heading) var(--size-heading-1)/var(--line-height-heading) var(--brand);
  --heading-1-default: var(--default-heading) var(--size-heading-1)/var(--line-height-heading) var(--brand);
  --size-heading-5: var(--font-size-20);
  --size-heading-4: var(--font-size-24);
  --size-heading-3: var(--font-size-32);
  --size-heading-2: var(--font-size-38);
  --size-heading-1: var(--font-size-48);
  --padding-page: var(--spacing-96);
  --padding-xxxxxxl: var(--spacing-256);
  --padding-xxxxxl: var(--spacing-192);
  --padding-xxxxl: var(--spacing-160);
  --padding-xxxl: var(--spacing-128);
  --padding-xxl: var(--spacing-96);
  --padding-xl: var(--spacing-80);
  --padding-lg: var(--spacing-64);
  --padding-md: var(--spacing-48);
  --padding-sm: var(--spacing-32);
  --padding-xs: var(--spacing-24);
  --padding-xxs: var(--spacing-16);
  --padding-xxxs: var(--spacing-12);
  --padding-xxxxs: var(--spacing-8);
  --padding-xxxxxs: var(--spacing-4);
  --padding-xxxxxxs: var(--spacing-2);
  --type-cta-tertiary-sm: var(--emphasis-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-tertiary-lg: var(--emphasis-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --type-cta-primary-sm: var(--default-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-primary-lg: var(--default-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --default-body: var(--regular);
  --default-heading: var(--regular);
  --emphasis-body: var(--bold);
  --emphasis-heading: var(--bold);
  --border-cta: var(--border-4);
  --border-lg: var(--border-8);
  --border-md: var(--border-4);
  --border-sm: var(--border-2);
  --color-neutral-foreground-active: var(--tints-mid-900);
  --color-neutral-foreground-hover: var(--tints-mid-700);
  --color-neutral-foreground-default: var(--tints-mid-800);
  --color-neutral-background-active: var(--tints-mid-200);
  --color-neutral-background-hover: var(--tints-mid-100);
  --color-neutral-background-default: var(--tints-mid-50);
  --color-neutral-default: var(--tints-mid-500);
  --color-disabled-foreground-default: var(--tints-mid-500);
  --color-disabled-background-default: var(--tints-mid-200);
  --color-error-foreground-active: var(--functional-red-900);
  --color-error-foreground-hover: var(--functional-red-700);
  --color-error-foreground-default: var(--functional-red-800);
  --color-error-background-active: var(--functional-red-300);
  --color-error-background-hover: var(--functional-red-200);
  --color-error-background-default: var(--functional-red-100);
  --color-error-default: var(--functional-red-500);
  --color-warning-foreground-active: var(--functional-orange-900);
  --color-warning-foreground-hover: var(--functional-orange-700);
  --color-warning-foreground-default: var(--functional-orange-800);
  --color-warning-background-active: var(--functional-orange-300);
  --color-warning-background-hover: var(--functional-orange-200);
  --color-warning-background-default: var(--functional-orange-100);
  --color-warning-default: var(--functional-orange-500);
  --color-info-foreground-active: var(--functional-blue-900);
  --color-info-foreground-hover: var(--functional-blue-700);
  --color-info-foreground-default: var(--functional-blue-800);
  --color-info-background-active: var(--functional-blue-300);
  --color-info-background-hover: var(--functional-blue-200);
  --color-info-background-default: var(--functional-blue-100);
  --color-info-default: var(--blue-mid);
  --color-success-foreground-hover: var(--functional-green-800);
  --color-success-foreground-active: var(--functional-green-700);
  --color-success-foreground-default: var(--functional-green-900);
  --color-success-background-hover: var(--functional-green-200);
  --color-success-background-active: var(--functional-green-300);
  --color-success-background-default: var(--functional-green-100);
  --color-success-default: var(--functional-green-500);
  --color-surface-level3: var(--tints-saturated-200);
  --color-surface-level2: var(--tints-saturated-100);
  --color-surface-level1: var(--tints-saturated-50);
  --color-surface-background: var(--base-white);
  --color-card-active: var(--tints-saturated-100);
  --color-card-hover: var(--tints-saturated-50);
  --color-card-default: var(--light-theme-container-fill);
  --color-border-selected: var(--blue-light);
  --color-border-active: var(--blue-mid);
  --color-border-hover: var(--tints-mid-300);
  --color-border-default: var(--light-theme-container-stroke);
  --color-link-active: var(--blue-dark);
  --color-link-hover: var(--blue-mid);
  --color-link-default: var(--blue-gradient);
  --color-cta-secondary-foreground-active: var(--base-white);
  --color-cta-secondary-foreground-hover: var(--blue-dark);
  --color-cta-secondary-foreground-default: var(--blue-gradient);
  --color-cta-secondary-background-active: var(--blue-dark);
  --color-cta-secondary-background-hover: var(--transparent);
  --color-cta-secondary-background-default: var(--transparent);
  --color-cta-primary-foreground-active: var(--base-white);
  --color-cta-primary-foreground-hover: var(--base-white);
  --color-cta-primary-foreground-default: var(--base-white);
  --color-cta-primary-background-active: var(--blue-dark);
  --color-cta-primary-background-hover: var(--blue-mid);
  --color-cta-primary-background-default: var(--blue-gradient);
  --color-text-tertiary: var(--tints-mid-600);
  --color-text-secondary: var(--tints-mid-800);
  --color-text-primary: var(--base-dark);
  --color-brand-icon: var(--blue-gradient);
  --color-brand-tertiary: var(--blue-dark);
  --color-brand-secondary: var(--blue-mid);
  --color-brand-primary: var(--blue-light);
  --padding-cta-sm: var(--padding-xxxxs) var(--padding-xxs);
  --padding-cta-lg: var(--padding-xxxs) var(--padding-xs);
  --color-surface-overlay-image: var(--color-surface-background);
  --color-surface-overlay-background: var(--color-text-primary);
}
