[data-brand='forex'] {
  --padding-button-sm: 12px 16px;
  --padding-button-lg: 14px 24px;
  --border-width-default: 1px;
  --letter-spacing-body: 0em;
  --letter-spacing-heading: -0.02em;
  --line-height-body: 1.3;
  --line-height-heading: 1.2;
  --brand: Poppins;
  --color-gradient-brand: linear-gradient(90deg, #12225C 0%, #0954B5 100%);
  --color-yellow-1000: #4d4000;
  --color-yellow-900: #584a00;
  --color-yellow-800: #6b5900;
  --color-yellow-700: #846e00;
  --color-yellow-600: #a48800;
  --color-yellow-500: #c8a700;
  --color-yellow-400: #edc500;
  --color-yellow-300: #ffdc2f;
  --color-yellow-200: #ffee63;
  --color-yellow-150: #fff283;
  --color-yellow-100: #fff6a3;
  --color-yellow-50: #fff7c1;
  --color-yellow-0: #fcf7dd;
  --color-red-1000: #400700;
  --color-red-900: #5c0b00;
  --color-red-800: #700d00;
  --color-red-700: #850f00;
  --color-red-600: #9e1200;
  --color-red-500: #b21500;
  --color-red-400: #c92c18;
  --color-red-300: #d85241;
  --color-red-200: #e67e70;
  --color-red-150: #ec988d;
  --color-red-100: #f1afa7;
  --color-red-50: #f7c7c0;
  --color-red-0: #fce1de;
  --color-orange-1000: #401a00;
  --color-orange-900: #572400;
  --color-orange-800: #6b2d00;
  --color-orange-700: #853700;
  --color-orange-600: #a34400;
  --color-orange-500: #d15700;
  --color-orange-400: #fe700b;
  --color-orange-300: #ff9742;
  --color-orange-200: #ffbf80;
  --color-orange-150: #ffcc99;
  --color-orange-100: #ffd9b2;
  --color-orange-50: #ffe0c7;
  --color-orange-0: #fae9db;
  --color-green-1000: #0a4223;
  --color-green-900: #0C4E2A;
  --color-green-800: #095d2f;
  --color-green-700: #066a33;
  --color-green-600: #077e3e;
  --color-green-500: #14964F;
  --color-green-400: #3fa26b;
  --color-green-300: #66b288;
  --color-green-200: #87c9a5;
  --color-green-150: #9cd3b5;
  --color-green-100: #b0dec4;
  --color-green-50: #c3e9d4;
  --color-green-0: #d6f5e3;
  --color-neutral-1000: #191919;
  --color-neutral-900: #202020;
  --color-neutral-800: #2e2e2e;
  --color-neutral-700: #424243;
  --color-neutral-600: #656567;
  --color-neutral-500: #8b8d92;
  --color-neutral-400: #b0b2ba;
  --color-neutral-300: #d1d3db;
  --color-neutral-250: #dcdee4;
  --color-neutral-200: #eaebf1;
  --color-neutral-100: #eff0f5;
  --color-neutral-50: #f9f9fc;
  --color-neutral-0: #ffffff;
  --color-blue-1000: #0e1a47;
  --color-blue-900: #12225c;
  --color-blue-800: #0f2e7b;
  --color-blue-700: #0a3e99;
  --color-blue-600: #0954b5;
  --color-blue-500: #2969c2;
  --color-blue-400: #5c8dd1;
  --color-blue-300: #8caede;
  --color-blue-200: #acc7ec;
  --color-blue-150: #bbd1f1;
  --color-blue-100: #cbddf6;
  --color-blue-50: #d6e5fa;
  --color-blue-0: #e6f0ff;
  --type-cta-tertiary-sm: var(--medium) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-tertiary-lg: var(--medium) var(--size-body-md)/var(--line-height-body) var(--brand);
  --type-cta-primary-sm: var(--medium) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-primary-lg: var(--medium) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --default-body: var(--regular);
  --default-heading: var(--light);
  --emphasis-body: var(--bold);
  --emphasis-heading: var(--medium);
  --border-button: var(--border-rounded);
  --border-lg: var(--border-16);
  --border-md: var(--border-8);
  --border-sm: var(--border-2);
}
