[data-brand='stonex'][data-theme='light'] {
  --background-image: "https://i.ibb.co/LhMS1j0/stonex-hero-light-2.jpg";
  --shadow-2: 0 6px 16px 0 #040C1729;
  --shadow-1: 0 4px 10px 0 #040C170F;
  --color-neutral-foreground-active: var(--tints-mid-900);
  --color-neutral-foreground-hover: var(--tints-mid-700);
  --color-neutral-foreground-default: var(--tints-mid-800);
  --color-neutral-background-active: var(--tints-mid-200);
  --color-neutral-background-hover: var(--tints-mid-100);
  --color-neutral-background-default: var(--tints-mid-50);
  --color-neutral-default: var(--tints-mid-500);
  --color-disabled-foreground-default: var(--tints-mid-500);
  --color-disabled-background-default: var(--tints-mid-200);
  --color-error-foreground-active: var(--functional-red-900);
  --color-error-foreground-hover: var(--functional-red-700);
  --color-error-foreground-default: var(--functional-red-800);
  --color-error-background-active: var(--functional-red-300);
  --color-error-background-hover: var(--functional-red-200);
  --color-error-background-default: var(--functional-red-100);
  --color-error-default: var(--functional-red-500);
  --color-warning-foreground-active: var(--functional-orange-900);
  --color-warning-foreground-hover: var(--functional-orange-700);
  --color-warning-foreground-default: var(--functional-orange-800);
  --color-warning-background-active: var(--functional-orange-300);
  --color-warning-background-hover: var(--functional-orange-200);
  --color-warning-background-default: var(--functional-orange-100);
  --color-warning-default: var(--functional-orange-500);
  --color-info-foreground-active: var(--functional-blue-900);
  --color-info-foreground-hover: var(--functional-blue-700);
  --color-info-foreground-default: var(--functional-blue-800);
  --color-info-background-active: var(--functional-blue-300);
  --color-info-background-hover: var(--functional-blue-200);
  --color-info-background-default: var(--functional-blue-100);
  --color-info-default: var(--blue-mid);
  --color-success-foreground-hover: var(--functional-green-800);
  --color-success-foreground-active: var(--functional-green-700);
  --color-success-foreground-default: var(--functional-green-900);
  --color-success-background-hover: var(--functional-green-200);
  --color-success-background-active: var(--functional-green-300);
  --color-success-background-default: var(--functional-green-100);
  --color-success-default: var(--functional-green-500);
  --color-surface-level3: var(--tints-saturated-200);
  --color-surface-level2: var(--tints-saturated-100);
  --color-surface-level1: var(--tints-saturated-50);
  --color-surface-background: var(--base-white);
  --color-card-active: var(--tints-saturated-100);
  --color-card-hover: var(--tints-saturated-50);
  --color-card-default: var(--light-theme-container-fill);
  --color-border-selected: var(--blue-light);
  --color-border-active: var(--blue-mid);
  --color-border-hover: var(--tints-mid-300);
  --color-border-default: var(--light-theme-container-stroke);
  --color-link-active: var(--blue-dark);
  --color-link-hover: var(--blue-mid);
  --color-link-default: var(--blue-gradient);
  --color-button-secondary-foreground-active: var(--base-white);
  --color-button-secondary-foreground-hover: var(--blue-dark);
  --color-button-secondary-foreground-default: var(--blue-gradient);
  --color-button-secondary-background-active: var(--blue-dark);
  --color-button-secondary-background-hover: var(--transparent);
  --color-button-secondary-background-default: var(--transparent);
  --color-button-primary-foreground-active: var(--base-white);
  --color-button-primary-foreground-hover: var(--base-white);
  --color-button-primary-foreground-default: var(--base-white);
  --color-button-primary-background-active: var(--blue-dark);
  --color-button-primary-background-hover: var(--blue-mid);
  --color-button-primary-background-default: var(--blue-gradient);
  --color-text-tertiary: var(--tints-mid-600);
  --color-text-secondary: var(--tints-mid-800);
  --color-text-primary: var(--base-dark);
  --color-brand-icon: var(--blue-gradient);
  --color-brand-tertiary: var(--blue-dark);
  --color-brand-secondary: var(--blue-mid);
  --color-brand-primary: var(--blue-light);
  --color-surface-overlay-image: var(--color-surface-background);
  --color-surface-overlay-background: var(--color-text-primary);
}
