:root {
  --size-288: 288px;
  --size-256: 256px;
  --size-224: 224px;
  --size-192: 192px;
  --size-160: 160px;
  --size-128: 128px;
  --size-96: 96px;
  --size-80: 80px;
  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-36: 36px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-12: 12px;
  --size-8: 8px;
  --size-6: 6px;
  --size-4: 4px;
  --size-2: 2px;
  --font-size-68: 68px;
  --font-size-64: 64px;
  --font-size-60: 60px;
  --font-size-56: 56px;
  --font-size-52: 52px;
  --font-size-48: 48px;
  --font-size-44: 44px;
  --font-size-40: 40px;
  --font-size-38: 38px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-30: 30px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;
  --opacity-100: 1;
  --opacity-90: 0.9;
  --opacity-80: 0.8;
  --opacity-70: 0.7;
  --opacity-60: 0.6;
  --opacity-50: 0.5;
  --opacity-40: 0.4;
  --opacity-30: 0.3;
  --opacity-20: 0.2;
  --opacity-10: 0.1;
  --opacity-0: 0;
  --stroke-2: 2px;
  --stroke-1: 1px;
  --rounded-rounded: 999px;
  --rounded-20: 20px;
  --rounded-18: 18px;
  --rounded-16: 16px;
  --rounded-14: 14px;
  --rounded-12: 12px;
  --rounded-10: 10px;
  --rounded-8: 8px;
  --rounded-6: 6px;
  --rounded-4: 4px;
  --rounded-2: 2px;
  --rounded-0: 0;
  --spacing-288: 288px;
  --spacing-256: 256px;
  --spacing-224: 224px;
  --spacing-192: 192px;
  --spacing-160: 160px;
  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-80: 80px;
  --spacing-64: 64px;
  --spacing-56: 56px;
  --spacing-48: 48px;
  --spacing-40: 40px;
  --spacing-32: 32px;
  --spacing-28: 28px;
  --spacing-24: 24px;
  --spacing-20: 20px;
  --spacing-16: 16px;
  --spacing-14: 14px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-2: 2px;
}
