[data-brand='forex'] {
  --screen-margin: 16px;
  --screen-height: 812px;
  --screen-width: 375px;
  --gap-xxxxl: var(--spacing-64);
  --gap-xxxl: var(--spacing-56);
  --gap-xxl: var(--spacing-48);
  --gap-xl: var(--spacing-40);
  --gap-lg: var(--spacing-32);
  --gap-md: var(--spacing-24);
  --gap-sm: var(--spacing-20);
  --gap-xs: var(--spacing-16);
  --gap-xxs: var(--spacing-12);
  --gap-xxxs: var(--spacing-8);
  --gap-xxxxs: var(--spacing-4);
  --gap-xxxxxs: var(--spacing-2);
  --screen-content: var(--screen-width) - (var(--screen-margin) *2);
  --padding-page: var(--spacing-16);
  --padding-xxxxxxl: var(--spacing-128);
  --padding-xxxxxl: var(--spacing-96);
  --padding-xxxxl: var(--spacing-80);
  --padding-xxxl: var(--spacing-64);
  --padding-xxl: var(--spacing-56);
  --padding-xl: var(--spacing-48);
  --padding-lg: var(--spacing-32);
  --padding-md: var(--spacing-28);
  --padding-sm: var(--spacing-24);
  --padding-xs: var(--spacing-20);
  --padding-xxs: var(--spacing-16);
  --padding-xxxs: var(--spacing-12);
  --padding-xxxxs: var(--spacing-8);
  --padding-xxxxxs: var(--spacing-4);
  --padding-xxxxxxs: var(--spacing-2);
  --size-body-lg: var(--font-size-18);
  --size-body-md: var(--font-size-16);
  --size-body-sm: var(--font-size-14);
  --size-body-xs: var(--font-size-12);
  --size-heading-5: var(--font-size-18);
  --size-heading-4: var(--font-size-20);
  --size-heading-3: var(--font-size-24);
  --size-heading-2: var(--font-size-28);
  --size-heading-1: var(--font-size-32);
}
