[data-brand='stonex'] {
  --padding-button-sm: 12px 16px;
  --padding-button-lg: 14px 24px;
  --border-width-default: 1px;
  --letter-spacing-body: 0.01em;
  --letter-spacing-heading: 0em;
  --line-height-body: 1.3;
  --line-height-heading: 1.2;
  --brand: 'StoneX Forma';
  --functional-blue-1000: #051334;
  --functional-blue-900: #081c4e;
  --functional-blue-800: #0a2567;
  --functional-blue-700: #0d2f81;
  --functional-blue-600: #0f389b;
  --functional-blue-500: #3759ac;
  --functional-blue-400: #5f7abc;
  --functional-blue-300: #879bcd;
  --functional-blue-200: #afbdde;
  --functional-blue-100: #cfd7eb;
  --functional-magenta-500: #aa3377;
  --functional-green-1000: #022e01;
  --functional-green-900: #033a02;
  --functional-green-800: #014c0c;
  --functional-green-700: #056103;
  --functional-green-600: #067303;
  --functional-green-500: #078a04;
  --functional-green-400: #38a236;
  --functional-green-300: #6ab968;
  --functional-green-200: #9cd09b;
  --functional-green-100: #cde8cd;
  --functional-orange-1000: #48220d;
  --functional-orange-900: #693511;
  --functional-orange-800: #8b4f16;
  --functional-orange-700: #ad6b1c;
  --functional-orange-600: #ca821c;
  --functional-orange-500: #f29e1a;
  --functional-orange-400: #f5b148;
  --functional-orange-300: #f7c576;
  --functional-orange-200: #fad8a3;
  --functional-orange-100: #fcecd1;
  --functional-red-1000: #480000;
  --functional-red-900: #5a0000;
  --functional-red-800: #760000;
  --functional-red-700: #9d0000;
  --functional-red-600: #c40000;
  --functional-red-500: #eb0000;
  --functional-red-400: #f14444;
  --functional-red-300: #f36666;
  --functional-red-200: #f79999;
  --functional-red-100: #fbcccc;
  --light-theme-container-fill: linear-gradient(135deg, #FFFFFF 0%, #F9FBFF 100%);
  --light-theme-container-stroke: linear-gradient(135deg, #040c171a 0%, #040c1726 100%);
  --dark-theme-asset-fill: linear-gradient(90deg, #5c7495 0%, #b3c0d3 100%);
  --dark-theme-container-fill: linear-gradient(135deg, #121F3080 0%, #0D1C3080 100%);
  --dark-theme-container-stroke: linear-gradient(135deg, #ffffff59 0%, #ffffff26 100%);
  --tints-saturated-1000: #0d1c30;
  --tints-saturated-900: #1a2e49;
  --tints-saturated-800: #2b4362;
  --tints-saturated-700: #425a7c;
  --tints-saturated-600: #5c7495;
  --tints-saturated-500: #7b90ae;
  --tints-saturated-400: #9fb0c7;
  --tints-saturated-300: #b3c0d3;
  --tints-saturated-200: #c9d2df;
  --tints-saturated-100: #dfe6ef;
  --tints-saturated-50: #f3f8fe;
  --tints-mid-1000: #121f30;
  --tints-mid-900: #283649;
  --tints-mid-800: #445162;
  --tints-mid-700: #616c7c;
  --tints-mid-600: #7f8895;
  --tints-mid-500: #9ca4ae;
  --tints-mid-400: #b9bfc7;
  --tints-mid-300: #c8cdd3;
  --tints-mid-200: #d8dbdf;
  --tints-mid-100: #e7e9eb;
  --tints-mid-50: #f7f7f7;
  --tints-unsaturated-1000: #202730;
  --tints-unsaturated-900: #3b414a;
  --tints-unsaturated-800: #4f555d;
  --tints-unsaturated-700: #72777d;
  --tints-unsaturated-600: #8e9196;
  --tints-unsaturated-500: #a9acb0;
  --tints-unsaturated-400: #c5c7c9;
  --tints-unsaturated-300: #d0d1d3;
  --tints-unsaturated-200: #e3e3e5;
  --tints-unsaturated-100: #ebebed;
  --tints-unsaturated-50: #f7f7f7;
  --green-dark: #014c0c;
  --green-light: #078a04;
  --green-gradient: linear-gradient(90deg, #078a04 0%, #014c0c 100%);
  --base-dark: #040c17;
  --base-white: #ffffff;
  --blue-dark: #0d1775;
  --blue-light: #1383f4;
  --blue-gradient: linear-gradient(270deg, #0d1775 0%, #1383f4 100%);
  --blue-mid: #0F389B;
  --type-cta-tertiary-sm: var(--emphasis-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-tertiary-lg: var(--emphasis-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --type-cta-primary-sm: var(--default-body) var(--size-body-sm)/var(--line-height-body) var(--brand);
  --type-cta-primary-lg: var(--default-body) var(--size-body-md)/var(--line-height-body) var(--brand);
  --default-body: var(--regular);
  --default-heading: var(--regular);
  --emphasis-body: var(--bold);
  --emphasis-heading: var(--bold);
  --border-button: var(--border-4);
  --border-lg: var(--border-8);
  --border-md: var(--border-4);
  --border-sm: var(--border-2);
}
