[data-brand='cityindex'][data-theme='dark'] {
  --background-image: "https://i.ibb.co/bgFcQ3m/ci-hero-dark.jpg";
  --shadow-2: 0 6px 16px 0 #00000029;
  --shadow-1: 0 4px 16px 0 #0000001A;
  --color-disabled-foreground-default: var(--color-neutral-400);
  --color-disabled-background-default: var(--color-neutral-600);
  --color-neutral-foreground-active: var(--color-neutral-50);
  --color-neutral-foreground-hover: var(--color-neutral-200);
  --color-neutral-foreground-default: var(--color-neutral-100);
  --color-neutral-background-active: var(--color-neutral-700);
  --color-neutral-background-hover: var(--color-neutral-800);
  --color-neutral-background-default: var(--color-neutral-900);
  --color-neutral-default: var(--color-neutral-500);
  --color-error-foreground-active: var(--color-red-50);
  --color-error-foreground-hover: var(--color-red-200);
  --color-error-foreground-default: var(--color-red-100);
  --color-error-background-active: var(--color-red-700);
  --color-error-background-hover: var(--color-red-800);
  --color-error-background-default: var(--color-red-900);
  --color-error-default: var(--color-red-500);
  --color-warning-foreground-active: var(--color-orange-50);
  --color-warning-foreground-hover: var(--color-orange-200);
  --color-warning-foreground-default: var(--color-orange-100);
  --color-warning-background-active: var(--color-orange-700);
  --color-warning-background-hover: var(--color-orange-800);
  --color-warning-background-default: var(--color-orange-900);
  --color-warning-default: var(--color-orange-500);
  --color-info-foreground-active: var(--color-blue-50);
  --color-info-foreground-hover: var(--color-blue-200);
  --color-info-foreground-default: var(--color-blue-100);
  --color-info-background-active: var(--color-blue-700);
  --color-info-background-hover: var(--color-blue-800);
  --color-info-background-default: var(--color-blue-900);
  --color-info-default: var(--color-blue-500);
  --color-success-foreground-active: var(--color-green-50);
  --color-success-foreground-hover: var(--color-green-200);
  --color-success-foreground-default: var(--color-green-100);
  --color-success-background-active: var(--color-green-700);
  --color-success-background-hover: var(--color-green-800);
  --color-success-background-default: var(--color-green-900);
  --color-success-default: var(--color-green-500);
  --color-surface-level3: var(--color-neutral-600);
  --color-surface-level2: var(--color-neutral-700);
  --color-surface-level1: var(--color-neutral-800);
  --color-surface-background: var(--color-neutral-1000);
  --color-card-active: var(--color-neutral-700);
  --color-card-hover: var(--color-neutral-800);
  --color-card-default: var(--color-neutral-900);
  --color-border-selected: var(--color-gradients-tags-retail-tag);
  --color-border-active: var(--color-neutral-600);
  --color-border-hover: var(--color-neutral-700);
  --color-border-default: var(--color-neutral-800);
  --color-link-active: var(--color-neutral-300);
  --color-link-hover: var(--color-neutral-300);
  --color-link-default: var(--color-neutral-0);
  --color-button-secondary-foreground-active: var(--color-neutral-1000);
  --color-button-secondary-foreground-hover: var(--color-neutral-0);
  --color-button-secondary-foreground-default: var(--color-neutral-0);
  --color-button-secondary-background-active: var(--color-neutral-0);
  --color-button-secondary-background-hover: var(--transparent);
  --color-button-secondary-background-default: var(--transparent);
  --color-button-primary-foreground-active: var(--color-gradients-ct-as-retail-cta-selected);
  --color-button-primary-foreground-hover: var(--color-gradients-ct-as-retail-cta-hover);
  --color-button-primary-foreground-default: var(--color-gradients-ct-as-retail-cta-default);
  --color-button-primary-background-active: var(--color-neutral-200);
  --color-button-primary-background-hover: var(--color-neutral-100);
  --color-button-primary-background-default: var(--color-neutral-0);
  --color-text-tertiary: var(--color-neutral-200);
  --color-text-secondary: var(--color-neutral-100);
  --color-text-primary: var(--color-neutral-0);
  --color-brand-icon: var(--color-gradients-icons-retail-icon);
  --color-brand-tertiary: var(--color-gradients-tags-retail-tag);
  --color-brand-secondary: var(--color-gradients-tables-retail-table);
  --color-brand-primary: var(--color-gradients-ct-as-retail-cta-default);
  --color-surface-overlay-image: linear-gradient(90deg, rgba(var(--color-surface-background),0.8) 30%, rgba(var(--color-surface-background),0.2) 100%);
  --color-surface-overlay-background: var(--color-surface-background);
}
